{% extends "Drawing/base.html" %}

{% block content1 %}

<form method="POST" role="form" action="{% url 'login' %}">
        {% csrf_token %}

    <table class="table_login">
        <tr>
            <td width="200"><input type="text" class="table_basket2" name="username" id="username0" placeholder="Ваш нікнейм"></td>
            <td><button type="submit" id="knopka">Війти</button></td>
        </tr>
        <tr>
            <td><input type="password" class="table_basket2" name="password" id="password0" placeholder="Пароль"></td>
            <td><a id="knopka1" href="{% url 'logout' %}">Рега</a></td>
        </tr>
    </table>
    </form>

{% endblock %}