<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drawing Loft</title>
    {% load static %}
    <link href="{% static 'Drawing/style.css' %}" rel="stylesheet">
    <style>
        .cont_right {
            background-image: url('{% static "Drawing/img/back0.jpg" %}');
            background-size: cover; /* Розтягує фон, щоб відповідати розмірам контейнера */
            background-position: center; /* Центрує фон */
        }
    </style>
</head>
<body>
<header>
    <table class="tab_head">
        <tr>
            <td id="td_head"><a class="id" href="{% url 'index' %}">Головна</a></td>
            <td id="td_head"><a class="id" href="#">Про нас</a></td>
            <td id="td_head"><a class="id" href="{% url 'admin:index' %}">Адмінка</a></td>
        </tr>
    </table>

</header>

<div class="content">
    <div class="cont_left">

        <div class="log">

            {% if user.is_authenticated %}

                <p class="title">{{ user.username }}</p>
                <img class="avatar" src="{{ user_profile.avatar.url }}" style=" width:100px;">
                    <form enctype="multipart/form-data" action="{% url 'index'%}" method="POST">
                        {% csrf_token %}
                        <input type="file" id="file" name="avatar">
                        <button type="submit" id="del_1bask">змінити аватарку</button>
                    </form>

            {% else %}
                <p class="title">Авторизація</p>
                <form method="POST" role="form" action="{% url 'login' %}">
                    {% csrf_token %}
                    <input type="text" class="table_basket1" name="username" id="username0" placeholder="Ваш нікнейм">
                    <input type="password" class="table_basket1" name="password" id="password0" placeholder="Пароль">

                    <button type="submit" id="knopka" >Війти</button>

                </form>

            {% endif %}

        </div>

        {% block content1 %}


        {% endblock %}

        <h1 class="title">Модулі:</h1>
        <div class="link">

            <a class="title" href="{% url 'table' %}">Стіл прямокутний</a>

        </div>

        <div class="link">

        </div>


    </div>

    <div class="cont_right">

        {% block content %}


        {% endblock %}


    </div>

</div>

<footer>

</footer>

</body>
</html>