<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drawing Loft</title>
    {% load static %}
    <link href="{% static 'Drawing/style.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'Drawing/img/fav.png' %}" type="image/x-icon">
    <style>
        body {
            background-image: url('{% static "Drawing/img/back0.jpg" %}');
            background-size: cover; /* Розтягує фон, щоб відповідати розмірам контейнера */
            background-position: center; /* Центрує фон */
        }
    </style>
</head>
<body>
<header>
    <table class="tab_head">
        <tr>
            <td id="td_head"><a class="id" href="{% url 'index' %}">Головна</a></td>
            <td id="td_head"><a class="id" href="#">Про нас</a></td>
            <td id="td_head"><a class="id" href="{% url 'admin:index' %}">Адмінка</a></td>
        </tr>
    </table>

</header>

<div class="content">
    <div class="cont_left">
        {% block content1 %}


        {% endblock %}

        <h1 class="title">Модулі креслення:</h1>

    <a href="{% url 'table' %}">
        <div class="link" style="background-image: url('{% static 'Drawing/img/fon.jpg' %}');">
            <h1 class="title3">Стіл прямокутний: Square</h1>
        </div>
    </a>

   <a href="{% url 'table' %}">
        <div class="link" style="background-image: url('{% static 'Drawing/img/fon.jpg' %}');">
            <h1 class="title3">Стіл V подібний: Vee</h1>
        </div>
    </a>

    </div>

    <div class="cont_right">

        {% block content %}


        {% endblock %}


    </div>

</div>

<footer>

</footer>

</body>
</html>