{% extends "Drawing/base.html" %}


{% block content1 %}
<div class="log">

    {% if user.is_authenticated %}
    <table class="table_user">
        <tr>
            <td><img class="avatar" src="{{ user_profile.avatar.url }}" width="60"></td>
            <td class="title1" >{{ user.username }}</td>
            <td><a class="title1" href="{% url 'user' %}">Кабінет</a></td>
            <td><a id="knopka0" href="{% url 'logout' %}">Вийти</a></td>
        </tr>
    </table>

    {% else %}

    <form method="POST" role="form" action="{% url 'login' %}">
        {% csrf_token %}

    <table class="table_login">
        <tr>
            <td width="200"><input type="text" class="table_basket2" name="username" id="username0" placeholder="Ваш нікнейм"></td>
            <td><button type="submit" id="knopka">Війти</button></td>
        </tr>
        <tr>
            <td><input type="password" class="table_basket2" name="password" id="password0" placeholder="Пароль"></td>
            <td><a id="knopka1" href="{% url 'logout' %}">Рега</a></td>
        </tr>
    </table>
    </form>

    {% endif %}

</div>


{% endblock %}


{% block content %}


{% for n in news %}
    <div class="news_post">
        <h1 class="title3">{{ n.title}}</h1>
        <img class="img_news" src="{{ n.picture.url }}">
        <p class="title2">{{ n.details }}</p>
    </div>
{% endfor %}

{% if user.is_authenticated %}

{% else %}

{% endif %}

{% endblock %}