{% extends "Drawing/base.html" %}

{% block content1 %}


<div class="log">

    {% if user.is_authenticated %}
    <table class="table_user">
        <tr>
            <td width="100" style="text-align: center;">{{ user.username }}</td>
            <td><a id="knopka0" href="{% url 'logout' %}">Вийти</a></td>
        </tr>

        <tr>
            <td><img class="avatar" src="{{ user_profile.avatar.url }}" width="100"></td>
            <td>{{ user_profile.info }}</td>
        </tr>
        <tr>
            <form enctype="multipart/form-data" action="{% url 'index'%}" method="POST">
            {% csrf_token %}
                <td><input type="file" id="file" name="avatar" width="80"></td>
                <td><button type="submit" id="knopka">Змінити аватарку</button></td>
            </form>
        </tr>
    </table>

    {% else %}

    <p class="title">Авторизація</p>
    <form method="POST" role="form" action="{% url 'login' %}">
        {% csrf_token %}
        <input type="text" class="table_basket1" name="username" id="username0" placeholder="Ваш нікнейм">
        <input type="password" class="table_basket1" name="password" id="password0" placeholder="Пароль">

        <button type="submit" id="knopka">Війти</button>

    </form>

    {% endif %}

</div>


{% endblock %}

{% block content %}

{% if drawing_first %}

<h1 class="title3">Останій створений:</h1>
    <div class="news" style="background-image: url('{{ dr.pictur.url }}'); background-size: cover; width: 300px;">
        <p class="title2">Стіл: {{ drawing_first.type }}</p>
        <p class="title2">Ширина: {{ drawing_first.details|slice:":3" }}</p>
        <p class="title2">Висота: {{ drawing_first.details|slice:"4:7" }}</p>
        <p class="title2">Труба основна: {{ drawing_first.details|slice:"8:" }}</p>
        <p class="title2">Час створення: {{ drawing_first.published_date }}</p>
        <a id="knopka2" href="{% url 'download_file' drawing_first.id %}">Завантажити: Pdf</a>
        <a id="knopka01" href="{% url 'drw_dell' drawing_first.id %}">Видалити</a>
    </div>

<hr>

{% for dr in drawing_all %}
    {% load static %}
    <div class="news" style="background-image: url('{{ dr.pictur.url }}'); background-size: cover; width: 300px;">
        <p class="title2">Стіл: {{ dr.type }}</p>
        <p class="title2">Ширина: {{ dr.details|slice:":3" }}</p>
        <p class="title2">Висота: {{ dr.details|slice:"4:7" }}</p>
        <p class="title2">Труба основна: {{ dr.details|slice:"8:" }}</p>
        <p class="title2">Час створення: {{ dr.published_date }}</p>
        <a id="knopka2" href="{% url 'download_file' dr.id %}">Завантажити: Pdf</a>
        <a id="knopka01" href="{% url 'drw_dell' dr.id %}">Видалити</a>
    </div>



{% endfor %}

{% else %}
<h1 class="title3">Немає створених креслень</h1>

{% endif %}

{% endblock %}