body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
}

header{
    margin: auto;
    min-width: 1250px;
    width: 100%;
    height: 60px;
    background-color: black;
}

.content{
    flex: 1;
    display: flex;
    min-width: 1250px;
    width: 100%;
}
.cont_left{
    min-width: 350px;
    max-width: 350px;
    width: 20%;
    background-color: #f2d174DD;

}
.cont_right{
    width: 100%;
}

footer{
    margin: auto;
    min-width: 1200px;
    width: 100%;
    height: 100px;
    background-color: black;
    flex-shrink: 0;
    display: flex;
    bottom: 0;
    
}
.tab_head{
    width: 100%;
    text-align: center;
}
.id{
    color: azure;
    font-size: 20px;
    text-decoration: none;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background-color: black;
}
.title{
    color: #080e1a;
    font-size: 22px;
    text-decoration: none;
    font-family: sans-serif;
    margin: 10px;
    padding: 10px;
}

.title1{
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-family: sans-serif;
    margin: 0px;
    padding: 10px;
}

.news{
    float: left;
    border-radius: 7px;
    background-color: #083c5e;
    margin: 10px 0px 10px 10px;
    padding: 10px;
    min-width: 300px;
    height: 160px;
}

.link{
    margin: 10px;
    width: 330px;
    height: 100px;
    background-color: yellow;
}

.pixel{
    margin: 0px;
    text-align: center;
    border-radius: 1px;
    float: left;
    width: 10px;
    height: 10px;
    background-color: black;
}
.form_color{
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    background-color: #464a46;
}

.color-square {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 5px 5px 0px 0px;  /* Опціонально: додатковий відступ між квадратами */
    border: 2px solid transparent;  /* Додаємо прозорий кордон для всіх квадратів */
}

input[type="radio"]:checked + .color-square {
    border: 2px solid black;  /* Виділяємо вибраний квадрат чорним кордоном */
}

.table_basket1{
    border: none;
    background-color: #434647;
    width: 330px;
    font-family: sans-serif;
    font-size: 16px;
    color: white;
    padding: 10px;
    margin: 0px;
}

.table_basket2{
    border: none;
    background-color: #434647;
    width: 230px;
    font-family: sans-serif;
    font-size: 16px;
    color: white;
    padding: 10px;
    margin: 0px;
}

.form_div{
    float: left;
    background-color: #205bbaDD;
    margin: 10px;
    width: 350px;
    padding: 10px 20px 10px 20px;
    margin: 10px 10px 10px 50px;
}

.prev_div{
    float: left;
    background-color: #205bbaDD;
    margin: 10px;
    width: 500px;
    height: 500px;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}
#knopka{
    margin: 0px;
    padding: 0px 10px 0px 10px;
    color: black;
    background-color: #27c400;
    border-radius: 5px;
    text-decoration: none;
}

#knopka1{
    margin: 0px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    color: black;
    background-color: orange;
    border-radius: 5px;
    text-decoration: none;
}

.log{
    margin: 0px;
}

.table_user{
    background-color: #172835;
    width: 100%;
    font-family: sans-serif;
    font-size: 18px;
    color: azure;
    margin: 0px;
}

.table_login{
    background-color: #172835;
    width: 350px;
    margin: 0px;
    padding: 0px;
}

#file{
    max-width: 110px;
    float: left;
}

margin: top right bottom left;
